.customCursor {
  will-change: transform, transition, width, height, top, left;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  width: 20px;
  height: 20px;
  z-index: 999999999;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  /* animacija za "mouseout", ovo je default */
  animation: animIdle 0.3s forwards;
}

::root {
  --clr-white: 0 0% 100%;
}
@font-face {
  font-family: "GlyphWorld Desert";
  src: url("./assets/GlyphWorld-Desert.otf");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}
*,
html,
*:hover {
}
/* SCROLLBAR */
html::-webkit-scrollbar {
  width: 0.7vw;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #aaa;
}
html::-webkit-scrollbar-track {
  margin-top: -5px;
  border-radius: 10px;
  background: none;
  border: 1px solid #ccc;
}
html::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.666);
}
html::-webkit-scrollbar-thumb:active {
  background: rgb(0, 0, 0);
}

body {
  /* background: url(./assets/bg.svg) no-repeat center center fixed; */
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "GlyphWorld Desert", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.568);
  background-color: black;
  /* background: linear-gradient(
        to top,
        rgba(245, 167, 0, 0.801),
        rgba(0, 38, 255, 0.234)
      )
      no-repeat center center fixed,
    url(https://grainy-gradients.vercel.app/noise.svg); */
    background: linear-gradient(
      to top,
      rgba(0, 134, 167, 0.905),
      rgba(88, 0, 189, 0.419)
    )
    no-repeat center center fixed,
  url('../src/assets/noise.svg');
}
span {
  white-space: nowrap;
}

/* INPUT, BUTTONS, LABEL */

button {
  outline: 0;
  color: #fff;
  background: transparent;
  border: 2px solid white;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.scroll-to-top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.scroll-to-top-button_visible {
  opacity: 1;
}
.scroll-to-top-button_hidden {
  opacity: 0;
}
.detailsText {
  font-size: 1.5em;
  text-decoration: underline;
  display: block;
  margin: 1em;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
  border-color: #ffffff;
}
button:hover,
.detailsText:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #ffffff;
}
.mobile-nav-toggle:hover {
  background-color: transparent;
}
input {
  display: block;
  margin: 1em;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

input:focus {
  box-shadow: rgb(0 0 0 / 72%) 0px 1px 3px, rgba(0, 0, 0, 14) 0px 1px 2px;
}
input:disabled {
  background: #ffffff5b;
  color: black;
  cursor: not-allowed;
}
input:disabled::selection {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0);
}
/* NAVBAR */
.logo {user-select: none;
  pointer-events: none;
  width: 70px;
  margin: 2rem clamp(1.5rem, 5vw, 3.5rem);
}

/* test anim */
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.primary-header {
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: space-between;
  align-items: center;
}
.primary-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1.5rem, 5vw, 3.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(29, 29, 29, 0.6);
  border-radius: 30px 0 0 30px;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation span {
  font-weight: 700;
}
.primary-navigation > * {
  padding: 1rem 2rem;
  border: 0;
}
@supports (backdrop-filter: blur(1rem)) {
  button,
  .primary-navigation,
  .detailsText {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
  }
}

@media (max-width: 35rem) {
  .primary-navigation {
    gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    border-radius: 5px 0 0 5px;
    transition: transform 400ms cubic-bezier(1, 0, 0, 1);
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url("assets/hamburger.svg");
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    border: 0;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("assets/hamburgerclose.svg");
  }

  /* profile */
  #profile input {
    display: block;

    width: 90vw;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    gap: 0.5rem;
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999rem) {
  span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    background: rgba(255, 255, 255, 0.438);
    order: 1;
  }
  nav {
    order: 2;
  }
  .primary-navigation {
    margin-block: 3rem;
  }
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .blob {
  width: 1000px;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E %3Cdefs%3E %3Cfilter id='grain' x='-50vw' y='-50vh' width='100vw' height='100vh'%3E %3CfeFlood flood-color='%23ffffff' result='neutral-gray' /%3E %3CfeTurbulence in='neutral-gray' type='fractalNoise' baseFrequency='2.5' numOctaves='100' stitchTiles='stitch' result='noise' /%3E %3CfeColorMatrix in='noise' type='saturate' values='0' result='destaturatedNoise' %3E%3C/feColorMatrix%3E %3CfeComponentTransfer in='desaturatedNoise' result='theNoise'%3E %3CfeFuncA type='table' tableValues='0 0 0.15 0'%3E%3C/feFuncA%3E %3C/feComponentTransfer%3E %3CfeBlend in='SourceGraphic' in2='theNoise' mode='soft-light' result='noisy-image' /%3E %3C/filter%3E %3CclipPath id='shape'%3E %3Cpath fill='currentColor' d='M815.5,653Q806,806,653,898Q500,990,334.5,910.5Q169,831,130.5,665.5Q92,500,174,378Q256,256,378,136.5Q500,17,660.5,98Q821,179,823,339.5Q825,500,815.5,653Z'%3E%3C/path%3E %3C/clipPath%3E %3C/defs%3E %3Cg filter='url(%23grain)' clip-path='url(%23shape)'%3E %3Cpath fill='%23444cf7' d='M815.5,653Q806,806,653,898Q500,990,334.5,910.5Q169,831,130.5,665.5Q92,500,174,378Q256,256,378,136.5Q500,17,660.5,98Q821,179,823,339.5Q825,500,815.5,653Z' /%3E %3C/g%3E %3C/svg%3E");
} */

/* .sepia {
  filter: grayscale(100%) sepia(20%) brightness(88%);
}
.masked {
  clip-path: circle(25% at 50% 50%);
} */

/* MASONRY */
.my-masonry-grid {
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > img {
  background: grey;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 30px;
  image-rendering: -webkit-optimize-contrast;
}

/* PROFILE */
#profile {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

#avatar {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.update-details {
  display: flex;
  flex-direction: column;
}

@keyframes animHover {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(5);
  }
}

@keyframes animIdle {
  0% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
  }
}
